
@{
  ViewBag.Title = "_footer";
}


<!-- Contacts Area Start -->
<section>
  <div class="container">
    <h4 style="padding: 10px 0px; margin: 0 -2px;
      color: #000;
      font-weight: 400;">
      Find Jobs By Type
    </h4>
    <div class="row">
      <div class="col-md-4">

        <ul>
          <li>Accountant</li>
          <li>Articleship</li>
          <li>Back Office</li>
          <li>Beautician</li>
          <li>Business Development</li>
          <li>Computer Operator</li>
          <li>Content Writing</li>
          <li>Cook</li>
          <li>Counsellor</li>
          <li>Counter Sales Job</li>
          <li>Data Entry</li>
          <li>Delivery</li>
          <li>Digital Marketing</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>Accountant</li>
          <li>Articleship</li>
          <li>Back Office</li>
          <li>Beautician</li>
          <li>Business Development</li>
          <li>Computer Operator</li>
          <li>Content Writing</li>
          <li>Cook</li>
          <li>Counsellor</li>
          <li>Counter Sales Job</li>
          <li>Data Entry</li>
          <li>Delivery</li>
          <li>Digital Marketing</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>Accountant</li>
          <li>Articleship</li>
          <li>Back Office</li>
          <li>Beautician</li>
          <li>Business Development</li>
          <li>Computer Operator</li>
          <li>Content Writing</li>
          <li>Cook</li>
          <li>Counsellor</li>
          <li>Counter Sales Job</li>
          <li>Data Entry</li>
          <li>Delivery</li>
          <li>Digital Marketing</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<hr style="color: #000;
margin: 1% 0 1%;">
<section class="contactus-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>(+91) 2545-5856</span>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>suppport@letsemploy.com</span>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="footer-social">
          <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="skype"><i class="fa fa-skype"></i></a></li>
        </ul>
      </div>

    </div>

  </div>
  </div>
</section>
<!-- Contacts Area End -->
<!-- Footer Area Start -->
<footer class="letsemploy-footer-area">
  <div class="footer-top section_50">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-footer-widget">
            <h3>Job Seeker</h3>
            <ul>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>Jobs Search </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>Job Seekers Login</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>Upload Resume</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>Career Advice </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>Search Tips </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>Free Job Alert </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>Find Companies </a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-footer-widget">
            <h3>Employer</h3>
            <ul>
              <li><a href="#"><i class="fa fa-angle-double-right "></i> Employer Login </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i> Job Posting</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i> Access Resume Database</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i> Join mRecruiters </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i> Advertise with us</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i> Research Reports </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i> Buy Online </a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-footer-widget">
            <h3>LetsEmploy</h3>
            <ul>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>About Us </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>Contact Us </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>Career with us </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>Send Feedback </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>Testimonials</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>HTML Sitemap </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i>XML Sitemap </a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-footer-widget">
            <h3>Legal</h3>
            <ul>
              <li><a href="#"><i class="fa fa-angle-double-right "></i> Security & Fraud </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i> Privacy Policy</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i> Terms of Use </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i> Be Safe </a></li>
              <li><a href="#"><i class="fa fa-angle-double-right "></i> Complaints </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright-left">
            <p>Copyright &copy; 2019 LetsEmploy. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
