<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="letsemploy | Job Board HTML Templates from Themescare">
  <meta name="keyword" content="Job, freelancer, employee, marketplace">
  <meta name="author" content="Themescare">
  <!-- Title -->
  <title>letsemploy</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="/Content/assets/img/favicon/favicon-32x32.png">
  <!--Bootstrap css-->
  <link rel="stylesheet" href="/Content/assets/css/bootstrap.css">
  <!--Font Awesome css-->
  <link rel="stylesheet" href="/Content/assets/css/font-awesome.min.css">
  <!--Magnific css-->
  <link rel="stylesheet" href="/Content/assets/css/magnific-popup.css">
  <!--Owl-Carousel css-->
  <link rel="stylesheet" href="/Content/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/Content/assets/css/owl.theme.default.min.css">
  <!--Animate css-->
  <link rel="stylesheet" href="/Content/assets/css/animate.min.css">
  <!--Select2 css-->
  <link rel="stylesheet" href="/Content/assets/css/select2.min.css">
  <!--Slicknav css-->
  <link rel="stylesheet" href="/Content/assets/css/slicknav.min.css">
  <!--Bootstrap-Datepicker css-->
  <link rel="stylesheet" href="/Content/assets/css/bootstrap-datepicker.min.css">
  <!--Jquery UI css-->
  <link rel="stylesheet" href="/Content/assets/css/jquery-ui.min.css">
  <!--Perfect-Scrollbar css-->
  <link rel="stylesheet" href="/Content/assets/css/perfect-scrollbar.min.css">
  <!--Site Main Style css-->
  <link rel="stylesheet" href="/Content/assets/css/style.css">
  <!--Responsive css-->
  <link rel="stylesheet" href="/Content/assets/css/responsive.css">
</head>
<body>
  <div id="app">

    <!-- Header Area Start -->
    <header class="letsemploy-header-area stick-top forsticky">
      <div class="menu-animation">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2">
              <div class="site-logo">
                <!-- <router-link to="/"> 
                <img src="/Content/assets/img/white.png" alt="letsemploy" class="non-stick-logo" />
                  <img src="/Content/assets/img/logo-2 (2).png" alt="letsemploy" class="stick-logo" />
             </router-link> -->
                <!-- <a href="/letsemploy/index.html">
                    </a> -->
              </div>
              <!-- Responsive Menu Start -->
              <div class="letsemploy-responsive-menu"></div>
              <!-- Responsive Menu Start -->
            </div>
            <div class="col-lg-6">
              <div class="header-menu ">
                <nav id="navigation text-center">
                  <ul id="letsemploy_navigation ">
                    <li class="active has-children">
                      <a href="#"><strong>Find Jobs</strong></a>
                      <ul>
                        <li><a href="#">Jobs By Company</a></li>
                        <li><a href="#">Jobs By Function</a></li>
                        <li><a href="#">Jobs By Industary</a></li>
                        <li><a href="#">Jobs By Location</a></li>
                        <li><a href="#">Jobs By Skills</a></li>
                      </ul>
                    </li>
                    <li class="has-children">
                      <a href="#"><strong>Companies</strong></a>
                      <ul>
                        <li><a href="index.html">Company Name</a></li>
                        <li><a href="index.html">Company Name</a></li>
                        <li><a href="index.html">Company Name</a></li>
                        <li><a href="index.html">Company Name</a></li>
                        <li><a href="index.html">Company Name</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#"><strong>About Us</strong></a>
                    </li>
                    <li>
                      <a href="#"><strong>Help</strong></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-lg-4">
              <leftheader></leftheader>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Area End -->
    <!---- Landing Modal --->
    @*<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="landingModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="padding: 1rem 1rem 0rem 1rem; ">
              <img src="/Content/assets/img/logo-small.png" style="    width: 50px;">
              <strong style="padding-left: 5px;line-height: 2.5;"><span style="color: #28a745">LETS</span><span>EMPLOY</span></strong>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <h1 style="text-align: left;background: linear-gradient(90deg, rgb(37,173,96) 0%, rgba(255,255,255,1) 100%);color:#fff;margin-top: 15px;padding: 10px 0px 7px 10px; font-size:1.5rem;">Identify Your Self</h1>
            <div class="modal-body text-center" style="padding:0;">
              <div class="container" style="    padding: 2% 4% 9% 4%;">

                <div class="row">

                  <div class="col-lg-6">
                    <div class="card">
                      <div class="card-body">
                        <h2 style="    padding: 13%;">I Am a Recruter</h2>
                        <a href="#" class="btn btn-dark">Confirm</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card">
                      <div class="card-body">
                        <h2 style="    padding: 13%;">I Am a Job Seeker</h2>
                        <a href="#" class="btn btn-dark">Confirm</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>*@

    <div>
      @RenderBody()
    </div>
    <!-- Banner Area Start -->
    <!-- Banner Area End -->
    <!-- Categories Area Start -->
    <!-- Categories Area End -->
    <!-- How Works Area Start -->


    @RenderPage("~/Views/Shared/_footer.cshtml")


  </div>

  @RenderSection("Vuejs", false)


  <!--Jquery js-->
  <script src="/Content/assets/js/jquery-3.0.0.min.js"></script>
  <!--Popper js-->
  <script src="/Content/assets/js/popper.min.js"></script>
  <!--Bootstrap js-->
  <script src="/Content/assets/js/bootstrap.min.js"></script>
  <!--Bootstrap Datepicker js-->
  <script src="/Content/assets/js/bootstrap-datepicker.min.js"></script>
  <!--Perfect Scrollbar js-->
  <script src="/Content/assets/js/jquery-perfect-scrollbar.min.js"></script>
  <!--Owl-Carousel js-->
  <script src="/Content/assets/js/owl.carousel.min.js"></script>
  <!--SlickNav js-->
  <script src="/Content/assets/js/jquery.slicknav.min.js"></script>
  <!--Magnific js-->
  <script src="/Content/assets/js/jquery.magnific-popup.min.js"></script>
  <!--Select2 js-->
  <script src="/Content/assets/js/select2.min.js"></script>
  <!--jquery-ui js-->
  <script src="/Content/assets/js/jquery-ui.min.js"></script>
  <!--Main js-->
  <script src="/Content/assets/js/main.js"></script>
  <script src="/Content/assets/js/script.js"></script>

  @RenderSection("scripts", false)
</body>
</html>
<!-- How Works Area End -->
